.body{ background-color:  aliceblue;}

.formulaire{ margin-top: 50px; margin-left: 180px;}

.infos {
           background-color: silver;
           border-radius: 10px;
           width: 650px;
           border: solid deepskyblue; 
           background-color:  beige;
}


.resultat{
    
      font-size: 20px;
      text-align: right; 
      background-color:   bisque;
}

.ui-panelgrid tr, .ui-panelgrid td {
    border:none !important;
    background-color:  beige;
}

.ui-panel-title{
    border-left: 30px !important;
    
}


